# Obsidian settings and workspace state
.obsidian/

# Obsidian trash
.trash/

# Operating-system files
.DS_Store
Thumbs.db

# Virtual Environment
.venv/

# Generated Anki flashcard exports
**/Flashcards.tsv